/* Plus Pattern Background
   Usage: Add .plus-pattern inside a container with position: relative
*/

.plus-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(#d1d5db 1px, transparent 1px),
    linear-gradient(90deg, #d1d5db 1px, transparent 1px);
  background-size: 80px 80px;
  opacity: 0.5;
}

.plus-pattern::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #9ca3af 3px, transparent 3px);
  background-size: 80px 80px;
  background-position: 40px 40px;
}

